#services{
  padding: 60px 0;
}

.container{
  width: 85%;
  margin: 0 auto;
}

.container h1{
  font-size: 2.8rem;
  text-align: center;
}
.container h4{
  text-align: center;
}

.container span{
  
  font-family: Arial, Helvetica, sans-serif; 

  background: linear-gradient(to right, rgb(209, 86, 209) 30%, 
           #ede282); 
     -webkit-text-fill-color: transparent; 
      -webkit-background-clip: text;
}

.service-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 65px 0;
}

.service-grid p{
  margin-left: 0;
}

.service-grid button{
 
  margin-top: 25px ;
  padding: 14px 22px;
  margin-top: 30px;
  background-color: rgb(40, 38, 38);
   border:2px solid rgb(209, 86, 209); 
   color: white; 
  font-size: 18px;
}

.service-grid button:hover{
  background-color:  rgb(209, 86, 209);

}

.service-grid h2{
  font-size: 2.3rem;
}

.web-dev{
  border: 1px solid  lightgrey;
  padding: 30px; 
  transition: all  .5s ease-in-out;
}

.web-dev:hover{
 transform: translateY(-10px);
 background-color: rgb(40, 38, 38,.7);
}


.mern-app{
  border: 1px solid lightgrey;
   padding: 30px;
    background-color: rgb(128, 0, 128,.8);
    transition: all  .5s ease-in-out;
}

.mern-app:hover{
  transform: translateY(-10px);
  background-color: rgb(128, 0, 128,.6);
}

.server-side{
  border: 1px solid  lightgrey;
  padding: 30px; 
  transition: all  .5s ease-in-out;
}


.server-side:hover{
  transform: translateY(-10px);
  background-color: rgb(40, 38, 38,.7);
 }

.responsive-web{
  border: 1px solid  lightgrey;
  padding: 30px; 
  transition: all  .5s ease-in-out;
}


.responsive-web:hover{
  transform: translateY(-10px);
  background-color: rgb(40, 38, 38,.7);
 }

.frontend{
  border: 1px solid  lightgrey;
  padding: 30px; 
  transition: all  .5s ease-in-out;
}


.frontend:hover{
  transform: translateY(-10px);
  background-color: rgb(40, 38, 38,.7);
 }

















/* Mobile and Ipad */
@media(max-width: 1100px){
  
}




@media(max-width: 1000px){
  
  
.service-grid{
  
  grid-template-columns: 1fr;
 
}

}




@media(max-width: 800px){
  
}
@media(max-width: 600px){


}